/* #077187
   #A997DF
   #97DFFC
   #FEEAFA
   #EFD9CE */

	
   
   html{

   font-family: 'Nunito', sans-serif;

   }


   .title {

   	text-transform:uppercase; 
   	padding: 1em;
    text-align: center;

   }

   a{

   	color:#d500f9; 

   }

   a:hover {

    opacity: 0.5;


   }

   .container{
  	
   	background: #d9a7c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100vw;
	align-items: center;

	 
   }
    

    
   .containerNew {
    
   background: #FC5C7D;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    height: 100vh;


   
   }

   .containerNew img {
    position: relative;
    top: 200px;
    left: 50%;
    width: 1030px;
    height: 600px;
    bottom: 400px;
    margin-left: -540px;
    border-radius: 10px;



   }
   

   .container img{

   	position: relative;
   	top: 200px;
   	left: 50%;
   	width: 1030px;
   	height: 600px;
   	bottom: 400px;
   	margin-left: -540px;
   	border-radius: 10px;

   }

    .content {

   	max-width: 950px;
   	width: 100%;
   	height: 80vh;
   	background-color: #FEEAFA;
   	position: relative;
   	top: -373px;
   	left: 50%;
   	width: 1000px;
   	height: 500px;
   	bottom: 350px;
   	margin-left: -504px;
   	border-radius: 4px;
   

   }

   .prueba{

   	text-transform:uppercase; 
   	text-align-last: center;
   	padding: 1em;



   }
   
   .imagenPaginas img{

   	position: relative;
   	top: -15px;
   	left: 50%;
   	width: 1030px;
   	
   	margin-left: -540px;
     


   }
  .text{

  	max-width: 1030px;
  	margin:0 auto;
  	text-align: justify;


  }
   
 .parra{

  	line-height: 1.8em;
  	font-weight: 200;
 }

 .table {

 	width: 100%;
 	border-spacing: 0;

 }

 .table td, .table th{

 	padding: 1em;
 	text-align: left;

 }

 .table  tr:nth-child(even){background-color: #A997DF;}


 .table tr:nth-child(even) a {color: #fff;}

 .table tr a {

 	text-decoration: none;

 }
 

 .fa-star, .fa-star-half-alt {

 	color: #ffc400;

 }
 .home {

  position: relative;
 


 }


 .close {

 	height: 40px;
 	width: 40px;
 	color: white;
 	border-radius: 50%;
 	background-color: #077187;
 	display: inline-block;
 	box-shadow: 0 3px 6px rgba(0,0,10,0.16),0 3px 6px rgba(0,0,5,0.203) 
 	font-weight:300;
 	cursor: pointer;
 	display: flex;
 	align-items: center;
 	justify-content: center;



 }
.action {
  position: absolute;
  top:5em;
  right: 15em;


}

@media (max-width:480px){

 
 .container{
  
  align-items: center;
  padding: 1px;

 }

 .parra{

  
  padding: 1em;




 }

 .content{
  padding:0em;
  position: relative;
  width: 100%;
  margin-left: 0;
  left: 0;
 
 }


 td{

 display:block;
  width: 100%;
 }

 td:nth-of-type(1){

font-size: 1.5em;
color: #d500f9;
font-weight: bold;

 }



 th{
  display: none;

 }

   .action{

     
     margin-left: 
     position: relative;
     top:0em;
     right: 1em;

    

   }
   .container img{

    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
    bottom: inherit;
    margin-left: 0px;
   }


   .title {

    width right:100%;
    text-transform:uppercase; 
    padding: 0.5em;
    text-align: center;
    font-size: 2em;


   }

   .table{

    font-size: 1em;




   }


